<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountPasswordPageURL</key>
	<string>https://portal.nap.gsic.titech.ac.jp/GetAccess/Login?Template=userpass_key&amp;AUTHMETHOD=UserPassword</string>
	<key>PostURL</key>
	<string>https://portal.nap.gsic.titech.ac.jp/GetAccess/Login</string>
	<key>LogoutPageURL</key>
	<string>https://portal.nap.gsic.titech.ac.jp/GetAccess/Logout</string>
	<key>MatrixcodePageURL</key>
	<string>https://portal.nap.gsic.titech.ac.jp/GetAccess/Login?Template=idg_key&amp;AUTHMETHOD=IG&amp;GASF=CERTIFICATE,IG.GRID&amp;LOCALE=ja_JP&amp;GAREASONCODE=13&amp;GAIDENTIFICATIONID=UserPassword&amp;GARESOURCEID=resourcelistID2&amp;GAURI=https://portal.nap.gsic.titech.ac.jp/GetAccess/ResourceList&amp;Reason=13&amp;APPID=resourcelistID2&amp;URI=https://portal.nap.gsic.titech.ac.jp/GetAccess/ResourceList</string>
	<key>AccountPasswordPageConfirmString</key>
	<string>Please input your account &amp; password.</string>
	<key>MatrixcodePageConfirmString</key>
	<string>Matrix Authentication</string>
	<key>SuccessPageConfirmString</key>
	<string>リソース メニュー</string>
	<key>usr_name=</key>
	<string>usr_name=</string>
	<key>usr_password=</key>
	<string>usr_password=</string>
	<key>code1=</key>
	<string>message3=</string>
	<key>code2=</key>
	<string>message4=</string>
	<key>code3=</key>
	<string>message5=</string>
	<key>matrixcodeRegularExpressionPattern</key>
	<string>\[([A-J]{1}),([1-7]{1})\]</string>
	<key>OCWiURL</key>
	<string>https://secure.ocw.titech.ac.jp/ocwi/index.php</string>
</dict>
</plist>
